:root {
    --bg-color: rgb(54, 54, 54);
    --text-color: rgb(197, 197, 197);
    --terminal: #26804cff;
    --text-color-hover: rgb(185, 184, 184);

    --margin-small: 10px;
    --margin-medium: 25px;
    --margin-big: 50px;

    --margin-article: var(--margin-big);
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    /* font-family: 'DEC Terminal Modern', sans-serif; */
    font-family: 'Nihonium113 Console', sans-serif;
    font-family: 'Ubuntu Mono', sans-serif;
    font-size: 16px;
    color: var(--text-color)
}

header {
    width: 100%;
}

nav {
    display: flex;
    justify-content: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--text-color);
}


nav ul li a:hover {
    color: var(--text-color-hover);
}

@media only screen and (max-width: 500px){
    nav ul {
        flex-direction: column;
        align-items: center;
    }
}

section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: var(--margin-big);
}

.image-me {
    width: 200px;
    border-radius: 50%;
    margin: var(--margin-medium);
}

.image-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    width: 70%;
}

.margin-paragraphs {
    margin-bottom: var(--margin-bottom-paragraph);
    margin-top: var(--margin-top-paragraph);
}

.text-container-md {
    max-width: 800px;
}

.page-title:before {
    content: "~/$ ";
    color: var(--terminal)
}

article {
    margin-top: var(--margin-article);
}

h1 {
    font-size: 1.4rem;
}

h2 {
    font-size: 1.2rem;
}

h3 {
    font-size: 1.1rem;
}