<div class="text-container-md">
  <h1 class="page-title">about</h1>
  <article>
    <p>I'm a Senior Software Engineer working remotly from Brazil.</p>
    <p>
      I have been working for at least 5 years building production grade
      softwares for industries that empoy IoT (Internet of Things) data
      processing and e-KYC (Electronic Know Your Customer) services.
    </p>
    <p>
      My main expertise relies on building backend applications with Python and
      Golang, deploying microservices to Kubernetes clusters. Here are some of
      the technologies I've worked with:
    </p>
    <ul>
      <li>Docker and Kubernetes</li>
      <li>REST APIs - FastAPI, Flask and Django libraries/frameworks</li>
      <li>CI/CD tools</li>
      <li>ORMs libraries - SQLAlchemy and GORM</li>
      <li>Databases - PostgreSQL, Cassandra and MongoDB</li>
    </ul>
    <p>
      By the way, I graduated from Federal University of Technology (UTFPR) in
      Electronics Engineering and finished my Master's degree in IoT Engineering
      in 2019.
    </p>
    <p>In my free time, I like to take care of my garden.</p>
  </article>
</div>
